@model List<MeyawoPortfolio.Models.TblEducation>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";

}

<h3>Eğitim Listesi</h3>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Okul</th>
        <th>Bölüm</th>
        <th>GNO</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.EducationID</th>
            <td>@item.Title1</td>
            <td>@item.Title2</td>
            <td>@item.GNO</td>
            <td>@item.Date</td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-success">Güncelle</a></td>

        </tr>
    }
</table>
<a href="#" class="btn btn-primary">Yeni Eğitim Girişi</a>